body{
	height: 100vh;
}
.wiki_contendor_principal{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height:100vh;
}
.panel_izquierdo{
	width:30%;
	height: 100vh;
	/*background-color: pink;*/
}
.home{
	position: absolute;
	margin-left: 1.5rem;
	margin-top: 0.5rem;
	width: 20%;
}
.imagen_home{
	width: 18%;
}
.panel_derecho{
	width:65%;
	height: 100vh;
	/*background-color: lightblue;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 5%;
}
.titulo_seccion_estilo{
	font-size: 1.6rem !important;
}
.bloque_busqueda{
	height: 20%;
}
.listado_temas{
	height: 60%;
	
}
.bloque_titulo_tema{
	position: relative;
	width: 100%;
	text-align: center;
}
.listado_temas_titulo{
	font-size: 1.6rem !important;
}
.botones{
	height: 20%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.boton_estilo{
	width: 42%;
	margin-left: 8%;
	background-color: #4ba9e9;
	border-color: #4ba9e9;
	height: 5vh;
	text-align: center;
	border-radius: 10px;
}
.boton_texto{
	position: relative;
	font-size: 1.2rem;
	top:0.2rem;
	color: #FFFFFF;
}
a{
	text-decoration: none;
}
a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}
.barra_busqueda{
	position: relative;
	width: 90%;
	height: 8vh;
	display: flex;
	flex-direction: row;
	top: 5rem;
	margin-bottom: 2rem;
	margin-left:6%;
}
.barra_busqueda_texto{
	width: 75%;
	height: 5vh;
}
.busqueda_texto_estilos{
	width: 100%;
	height: 100%;
}
.barra_busqueda_icono{
	width: 25%;
	height: 5.8vh;
}
.boton_busqueda{
	height: 100%;
}
.imagen_busqueda{
	width: 20%;
}
.busqueda_texto_estilos ::placeholder {
	text-align: center; 
 }
::placeholder {
    font-size: 0.8rem;
    text-align: center;
}
::-webkit-input-placeholder {
    font-size: 0.8rem;
    text-align: center;
}
:-moz-placeholder {
    font-size: 0.8rem;
    text-align: center;
}
::-ms-input-placeholder {
    font-size: 0.8rem;
    text-align: center;
}
.visualizacion_seccion{
	width: 100%;
}
/*----------------------------------NUEVO TEMA------------------------------------------*/
.formulario_bloque{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.formulario_bloque_contenedor{
	width: 80%;
	margin-top: 0.5%;
	height: 7vh;
	border-radius: 8px;
	border:none;
	background-color: transparent;
}
.datos_tema{
	width: 100%;
	margin-top: 0.8rem;
}
.datos_tema_input{
	margin-top: 1%;
	margin-left: 2%;
	width: 46%;
	height: 30px;
	border-radius: 8px;
	border:solid 1px #818589;
	background-color: transparent;
}
.formulario_boton_contenedor{
	margin-top: 0.8rem;
}
.btn_enviar_tema{
	margin-left: 0;
	margin-top:5%;
	width: 20%;
	margin-top: 1%;
	height: 6vh;
	border-radius: 10px;
	border:solid 1px black;
	background-color: #4ba9e9;
	border-color: #4ba9e9;
	color: #FFFFFF;
	font-weight: 500;
	font-size: 1.2rem;
}
.btn_enviar_tema:hover{
	background-color:#009BF0;
	border-color:#009BF0;
	color:#FFFFFF;
}
/*-------------------------------NUEVO ARTICULO-----------------------------------*/
.selector_tema{
	margin-top: 1%;
	margin-left: 2%;
	width: 47%;
	height: 30px;
	border-radius: 8px;
	border:solid 1px #818589;
	background-color: transparent;
}
.altura_area{
	height: 12vh !important;
}
/*-------------------------------ARTICULOS POR TEMA-----------------------------------*/
.articulos_por_tema{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.articulo_titulo{
	width: 40%;
	background-color: khaki;
	margin-top: 1.5rem;
	border-radius: 10px;
	text-align: center;
	margin-right: 3rem;
}
.centrar_titulo{
	position: relative;
	width: 100%;
	right: 2.5rem;
}
/*-------------------------------------ARTICULOS----------------------------------------*/
.articulos_descripcion{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.articulo_desc_titulo{
	width: 100%;
	text-align: center;
}
.art_titulo{
	font-size: 2.0rem;
}
.articulo_desc_tema{
	width: 100%;
	text-align: center;
}
.art_tema{
	font-size: 1.4rem;
}
.articulo_desc_contenido{
	width: 100%;
	text-align: center;
}
.art_contenido{
	width: 66%;
	margin: 0 auto;
	text-align: justify;
	font-size: 1.2rem;
}