<!--Uso de la Plantilla 'layout.html'-->
{% extends "layout.html" %}
<!--Título de la web en la ventana-->
{% block titulo%}
	Nuevo Tema
{%endblock%}
<!--Encabezado usado como título-->
{% block encabezado%}
	Nuevo Tema
{%endblock%}
{% block contenido%}
<!--Se crea el formulario para el envío de los campos nombre_tema y descripcion_tema-->
	<form class="formulario_bloque" method="post" action="{% url 'wikiApp:nuevo_tema' %}">
		{% csrf_token %}
		<div class="formulario_bloque_contenedor">
			<div class="datos_tema">
				<input class="datos_tema_input" type="text" name="nombre_tema" placeholder="Ingrese el nombre del tema">
			</div>
			<div class="datos_tema">
				<input class="datos_tema_input" type="text" name="descripcion_tema" placeholder="Ingrese la descripción del tema">
			</div>
			<div class="formulario_boton_contenedor">
				<button class="btn_enviar_tema">
					Enviar
				</button>
			</div>						
		</div>
	</form>
{%endblock%}